{
  "extends": [
    "react-app",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "linebreak-style": ["error", "unix"],
    "@typescript-eslint/no-explicit-any": 0,
    "eol-last": "error",
    "jsx-quotes": [1, "prefer-double"],
    "no-restricted-imports": [
      "error",
      {
        "patterns": [
          "reflexbox/*",
          "!reflexbox/styled-components",
          "**/../common/**",
          "**/../feed/**",
          "**/../id/**",
          "**/../post/**",
          "**/../search/**",
          "**/../settings/**",
          "**/../shared/**",
          "**/../user/**",
          "**/../ui",
          "**/../typography",
          "**/../validation",
          "**/../themes",
          "**/../utils"
        ]
      }
    ],
    "import/no-internal-modules": [
      "error",
      {
        "allow": [
          "@hookform/resolvers/yup",
          "reflexbox/styled-components",
          "@testing-library/jest-dom",
          "react-datepicker/dist/react-datepicker.css",
          "@apollo/client/link/context",
          "@apollo/client/utilities",
          "@apollo/client/link/ws",
          "@skyflux/react/features/*",
          "@skyflux/react/features/common/*",
          "@skyflux/react/features/shared/*",
          "react-image-lightbox/style.css",
          "react-toastify/dist/ReactToastify.min.css",
          "firebase/*"
        ]
      }
    ],
    "import/no-useless-path-segments": "error",
    "import/no-commonjs": "error",
    "import/no-duplicates": "error",
    "import/newline-after-import": "error",
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index",
          "object"
        ]
      }
    ]
  },
  "settings": {
    "import/internal-regex": "^@skyflux/react"
  },
  "plugins": ["import", "prettier", "react"]
}
