{
  "useTabs": false,
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxBracketSameLine": false,
  "semi": false,
  "bracketSpacing": false,
  "parser": "flow",
  "arrowParens": "avoid",
  "endOfLine": "lf"
}